nav {
    background-color: black;
    border-top: 2px solid lightskyblue;
    border-bottom: 2px solid red;
    background-size: contain;
    height: 110px;
}

body, html {
    height: 100%;
}


.bg {
    background-image: url("../images/full-hd-marvel-wallpapers-windows-10-backgrounds-amazing-colourful-hi-res-cool-best-colours-artwork-3840x2160.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}

.logorow {
    text-align: center;
    display: block;
}

.MarvelLogo {
    float: left;
    height: 100px;

}

.DCLogo {
    top:30;
    float: right;
    height: 100px;
}

.MainContent {
    margin-top: 20px;
}
.Wrapper {
    width: 950px;
    margin: 0 auto;
    overflow: auto;
    border: 2px solid red;
    background-color: gainsboro;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    padding: 20px;
    height: 600px;
    font-family: "Action_Man_Italic";
    border-radius: 5px;
}

.TitleRow {
    margin: 0 auto;
    text-align: center;
}

.GameTitle {
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
}

@font-face {
    font-family: "Action_Man_Italic";
    src: url("../images/Action_Man_Italic.ttf") format("truetype");
  }
  
  .GameStart {
      margin-top: 75px;
  }

  h3,  h2 {
      margin: 0 auto;
  }

 

  .QuestionArea {
      width: 800px;
      font-size: 32px;
      margin: 0 auto;
      margin-top: 50px; 
  }

.Answers {
    padding: 40px;
    
}


button {
    margin-left: 170px;

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

