body, html {
    height: 100%;
}
nav {
    height: 100px;
}

.bg {
    background-image: url("../images/full-hd-marvel-wallpapers-windows-10-backgrounds-amazing-colourful-hi-res-cool-best-colours-artwork-3840x2160.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.logorow {
    text-align: center;
    display: block;
}

.MarvelLogo {
    float: left;
    height: 100px;

}

.DCLogo {
    float: right;
    height: 100px;
}

.MainContent {
    margin-top: 20px;
}
.Wrapper {
    width: 950px;
    margin: 0 auto;
    overflow: auto;
    border: 2px solid red;
    background-color: gainsboro;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    padding: 20px;
    height: 570px;
    font-family: "Action_Man_Italic";
}

.TitleRow {
    margin: 0 auto;
    text-align: center;
}

.GameTitle {
    margin: 0 auto;
}

h1 {
    margin: 0 auto;
}

@font-face {
    font-family: "Action_Man_Italic";
    src: url("../images/Action_Man_Italic.ttf") format("truetype");
  }




